.nav {
    background-color: var(--bg);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    width: 220px;
    height: 40px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
}
.logo a:hover {
    color: white;
}
.sign {
    display: block;
    width: 34px;
    height: 40px;
    overflow: hidden;
}
.logo img {
    width: 220px;
    height: 40px;
    max-width: 220px;
}
.logo a span span {
    color: var(--purple);
    margin-left: 2px;
}
@media screen and (max-width: 1024px) {
    .logo {
        width: 34px;
    }
    .logo a span {
        display: none;
    }
    .logo a span.sign {
        display: block;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
}
.menu a {
    text-decoration: none;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
